body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .info-container {
            background-color: #daddec;
            padding: 10px;
            margin-bottom: 40px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            text-align: left;
            width: 350px;
        }
        .info-container h1 {
            font-size: medium;
        }
        .upload-container {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            text-align: center;
        }
        .upload-container h1 {
            margin-bottom: 20px;
        }
        .upload-container input[type="file"] {
            display: none;
        }
        .upload-container label {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border-radius: 5px;
            cursor: pointer;
        }
        .upload-container input[type="submit"] {
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #28a745;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .upload-container button:hover {
            background-color: #218838;
        }
        .file-name {
            margin-top: 10px;
            font-style: italic;
            color: #555;
        }